<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3u-1f-YzT8tTNP9bDqe0Wlxt9TiFWyDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>180029562035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testCalculator</string>
	<key>PROJECT_ID</key>
	<string>test-flutter-calculator</string>
	<key>STORAGE_BUCKET</key>
	<string>test-flutter-calculator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180029562035:ios:a08c49ec94da58d55624c6</string>
</dict>
</plist>